
 <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link dark" aria-current="page" href="/">Homo Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/create-new-post">ADD CONTENT</a>
    </li>
  </ul>
